:root{
    --textColorGray: #b2bec3;
}

*{
    font-family: "Consolas";
    box-sizing: border-box;
}

body{
    background-color: #2d3436;
    margin: 0px;
    height: 100vh;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container-item{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex: 1 1 50%;
    text-align: center;
    overflow-y: auto;
    border: solid 5px black;
}

.row-container{
    flex-direction: row;
}

.upload{
    flex: 1 1 10%;
    min-height: 250px;
    justify-content: center;
}

.download{
    min-height: 250px;
}

.container-item > h1{
    font-size: 50px;
}

.customList{
    border: solid 2px #dfe6e9;
    overflow-y: auto;
    min-height: 1rem;
}

.customForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customForm > input{
    flex: 1 1 100%;
    justify-content: center;
}

.top-selection{
    display: flex;
    flex-direction: row;
}

.side-bar{
    flex: none;
    width: 20%;
    border-top: none;
    border-bottom: none;
}

.center_page{
    border-top: none;
    border-bottom: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex{
    flex: 1 1 100%;
}

.user-text-input{
    display:flex;
    flex-direction: column;
}